{% extends 'base.html.twig' %}

{% block body %}
    <h1>ContentItem list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Url</th>
                <th>Title</th>
                <th>Publisheddate</th>
                <th>Author</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contentItem in contentItems %}
            <tr>
                <td><a href="{{ path('content_show', { 'id': contentItem.id }) }}">{{ contentItem.id }}</a></td>
                <td>{{ contentItem.url }}</td>
                <td>{{ contentItem.title }}</td>
                <td>{{ contentItem.publishedDate }}</td>
                <td>{{ contentItem.author }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('content_show', { 'id': contentItem.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('content_edit', { 'id': contentItem.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('content_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
